main {
  overflow-y: auto;
  height: 100vh;
}

.block {
  height: 90vh;
  background: #ddd;
}

alternation {
  height: 512px;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
