<main cdkScrollable>
  <div class="block"></div>

  <alternation src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg"></alternation>

  <div class="block"></div>

  <alternation src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg">
    <div class="content">
      Awesome Text
    </div>
  </alternation>

  <div class="block"></div>
</main>
